/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}

.heroes a {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s ease, color 0.2s ease, left 0.2s ease;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
  font-weight: bold;
}

.heroes .name {
  flex: 1;
  padding-right: 0.5em;
}