<div>
    <form [formGroup]="leaveRequestForm">
        <h1>Email leave request</h1>
        <input type="text" placeholder="Leave Type" formControlName="Email" />
        <input type="text" placeholder="Leave Reason" formControlName="FullName" />
        <input type="date" placeholder="Leave Date" formControlName="MessageContent" />
        <input type="text" placeholder="Leave Date" formControlName="Mobile" />
        <input type="text" placeholder="Leave Date" formControlName="Subject" />
        <button type="submit">Submit</button>
    </form>

</div>
